<div *ngIf='collections'>
        <div class="jumbotron text-center">
            <h1>Beeldbank {{ collections[0].organisations_name }}</h1>
      </div>
    <div class="row">
        <div class="col col-sm-12">
            <p>Welkom op de Beeldbank van de Arteveldehogeschool Mediatheek Mariakerke!</p>
            <p>Naast de collectie in open rek in de mediatheek, bestaat er ook een erfgoedcollectie in het archief. Met deze beeldbank bieden wij alle geïnteresseerden een vitrine op deze erfgoedcollectie.</p>
            <p>Klik op een deelcollectie om alle beelden die tot die collectie behoren te bekijken. De digitalisering van deze collectie is een werk van lange adem, dus kom gerust af en toe eens kijken in de beeldbank welke collecties er werden toegevoegd. 
            De originelen zijn steeds raadpleegbaar in de mediatheek.</p>
            <p>Wil je meer weten over de beelden, of heb je een vraag hierover, stuur dan een e-mail naar <a href='mailto:mediatheek.mariakerke@arteveldehs.be'>mediatheek.mariakerke@arteveldehs.be</a></p>
        </div>
    </div>

    <h1>Collecties</h1>
    <div class="row">
        <div class="col-sm-12" *ngFor="let collection of collections">
            <div class="media" [routerLink]="[ collection.id,'bags']">
                <div class="media-left">
                    <img class="media-object" src="http://lorempixel.com/300/300/cats/?79305">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">{{ collection.name }}</h4>
                    <p>{{ collection.description }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf='!collections'>
    <div class="jumbotron text-center">
        <h1>Beeldbank</h1>
    </div>
    <div class="panel panel-danger">
        <div class="panel-heading">
            No collections found
        </div>
        <div class="panel-body">
            Api unreachable
        </div>
    </div>
</div>